# Imports

In [26]:
import pymongo 
import pandas as pd
import json
import os
from os import listdir
from os.path import isfile, join
from pandas.io.json import json_normalize
import time

# Importar los datos en mongo

C:\Program Files\MongoDB\Server\3.4\bin>mongoimport --db twitter --collection cam2017 --file C:\Users\Yoli\Downloads\CAM20170501.json

# Funciones auxiliares

In [27]:
def open_conection():
    client = pymongo.MongoClient('localhost',27017)
    return client

# Carga en un dataframe

In [28]:
client = open_conection()
db = client.twitter
col = db.cam2017

In [29]:
col.count()    # n√∫mero de tweets

1587572

In [30]:
# selecciono el _id y el texto

print ('inicio:', time.strftime('%H:%M:%S'))
cursor = col.find({},{ 'text': 1, '_id': 1 } ) 
l = list(cursor)
tabla = pd.DataFrame(l)
print ('fin:', time.strftime('%H:%M:%S'))

inicio: 09:29:50
fin: 09:30:01

In [31]:
tabla.head()

                  _id                                               text
0  722247433049083904  Flex #thankyourihanna @ Puerta del Sol https:/...
1  722247883982970882  Thalia anal miel Checa https://t.co/XckgYoUN02...
2  722248376851410945  1. #TopDance*n2. #ChiringuitoCierra*n3. Raptor...
3  722248378659131393  6. #Castle*n7. #LaNocheCharlotadas*n8. Jurassi...
4  722248984832700416  DSS 63 carrier lock on @NewHorizons2015*nFrequ...

In [32]:
client.close()